.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 85px;
  }
  
  .imageItem {
    flex: 1 1 300px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;
    transition: box-shadow 0.3s ease;
  }

  .imageItem:hover {
    box-shadow: 6px 6px 14px #6b6b6b;
  }
  
  .imageItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .imageDescription {
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: normal;
    overflow-wrap: break-word;
  }
  
  .imageTitle {
    font-weight: bold;
    margin-bottom: 8px;
  }


